.container {
  display: flex;
  background-color: var(--alternate);
  color: var(--background);
  border-radius: 10px;
  transition: transform 0.16s cubic-bezier(0.65, 0.61, 0.18, 1.8) 0.02s;
}

@media (hover: hover) and (pointer: fine) {
  .container:hover {
    transform: scale(1.2);
  }
}

.sm {
  display: flex;
  padding: 8px 16px;
  width: 100%;
}

.md {
  display: flex;
  padding: 12px 24px;
  width: 100%;
}

.lg {
  display: flex;
  padding: 20px 48px;
  width: 100%;
}

.text {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.none {
  padding: 0;
  margin: 0;
}

.position {
  position: absolute;
  transition: all 300ms ease-in-out;
}
