.footer {
    grid-row-end: page-end;
    grid-column: 1 / 9;
    display: flex;
    column-gap: 48px;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: fit-content;
    margin: auto;
    padding: 24px;
  }

  .item {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .footer a {
    display: flex;
    gap: 8px;
  }
  
  .footer img {
    flex-shrink: 0;
  }

  @media (min-width: 390px) {
    .footer {
      grid-column: 2 / 8;
    }
  }

  /* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
      background: var(--button-primary-hover);
      border-color: transparent;
    }
  
    a.secondary:hover {
      background: var(--button-secondary-hover);
      border-color: transparent;
    }
  
    .footer .item:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  @media (max-width: 600px) {
    .page {
      padding: 32px;
      padding-bottom: 80px;
    }  
  
    .ctas {
      flex-direction: column;
    }
  
    .ctas a {
      font-size: 14px;
      height: 40px;
      padding: 0 16px;
    }
  
    a.secondary {
      min-width: auto;
    }
  
    .footer {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
