.container {
  min-height: calc(100svh - 80px);
}

.project {
  padding: 1.5rem 0.5rem;
  border-radius: 16px;
  transition:
    transform 0.16s cubic-bezier(0.65, 0.61, 0.18, 1.8) 0.02s,
    background-color 0.05s ease,
    opacity 0.05s ease;
}

@media (min-width: 1024px) {
  .project {
    padding: 1.5rem;
  }
  .project:hover {
    transform: scale(1.05);
    background-color: var(--primary);
  }

  .project:hover a span {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}
