.experience {
    grid-column: 2;
    scroll-margin-top: 80px;
}

.job-container {
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 16px;
    transition: transform .05s ease, background-color .05s ease;
}

.job-container:hover {
    background-color: var(--primary);
    transform: scale(1.05);

}

.job-container:hover > a {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.title {
    font-size: 28px;
    padding-bottom: 12px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.description {
    padding-left: 0.5rem;
}

.skills {
    padding-top: 1rem;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}