.container {
    grid-row-start: 1;
    grid-column: 3 / 7;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: calc(100svh - 160px);
    width: 100%;
    padding: 0 64px;
  }

  .scroller-container {
    height: 64px;
    width: fit-content;
    position: relative;
    overflow: hidden;
  }

  .scroller {
    display: flex;
    height: 72px;
    flex-direction: column;
    transition: transform 1s ease-in-out;
  }

  .hello {
    display: flex;
    height: 56px;
    margin: 8px 0px;
    font-size: 48px;
  }
